@charset "UTF-8";
/* CSS Document */
/*
* {
	padding:	0;
	margin:		0;
}
*/
body {
	background-color: black;
	color: #ccc;
	height: 100%;
	width: 100%;
}

body > .toolbar, black {
    background: url(toolbarBlack.png) #6d84a2 repeat-x;
    border-bottom: 1px solid #5A5D5A;
}

body > .appbar {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #5A5D5A;
    border-top: 1px solid #5A5D5A;

	display: block;
    padding: 10px;
    min-height: 0px;
    height: 45px;
    background: url(toolbarBlack.png) #6d84a2 repeat-x;
    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.appbar > .application {
	float: left;
	width: 40px;
	height: 40px;
	
	margin: -10px 10px 0 0;
}

.appbar > .application img {
	width: 40px;
	height: 40px;
}

.appbar > .application > p {
	color: black;
	font-size: 11px;
	text-align: center;
	
	height: 11px;
	margin: -11px 0 0 0;
	padding: 0;
}

a:visited,
a:link,
a:hover,
a:active {
	color: #fff;
	line-height:1em;
	text-decoration: none;
	padding-bottom: .7em;
}

a:hover {
	color: #0000FF;
}

a:active {
	color: blue;
}

p.help {
	position: fixed;
	bottom: 0px;
	padding: 10px;
	margin: 0;
	font-size: .9em;
	background-color: black;
	z-index: 999;
}

.blackpanel {
	border: 0;
}

.blackpanel > h2 {
    margin: 0 0 8px 14px;
    font-size: inherit;
    font-weight: bold;
}

.blackpanel > fieldset { 
	border: 0;
}


.blackpanel .blackmain {
    position: relative;
    margin: 0 10px 10px 10px;
    padding: 0;
    background: #FFF;
    -webkit-border-radius: 10px;
    border: 1px solid #999999;
    text-align: right;
    font-size: 16px;
}

.blackmain > .row  {
    position: relative;
    min-height: 42px;
    border-bottom: 1px solid #999999;
    -webkit-border-radius: 0;
    text-align: right;
}

.blackmain > .last {
    border-bottom: none !important;
}

.blackmain > .row > input {
    box-sizing: border-box;
    border: none;
    padding: 12px 10px 0 100px;
    font-weight: none;
    font-size: 16px;

}

.blackmain > .row > label {
	color: #557894;
    position: absolute;
    margin: 0 0 0 14px;
    line-height: 42px;
    font-weight: bold;
}

.blackpanel .submit {
    position: relative;
    min-height: 42px;
	padding-right: 10px;
    text-align: right;
    background: none;
}

.blackpanel .submit > input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-border-radius: 10px;
    margin: 0;
    border: 1px solid #999;
    height: 42px;
    width: 128px;
    font-weight: bold;
    background: white;
    font-size: 1em;
    color: #557894;
    padding: 0;
}


.blackpanel .submit > input:active {
	border: 1px solid #173F91;
	background: url("../media/blueBack.png") repeat-x ;
	color: white;
}

.blackpanel .submit > input:hover {
	background-color: #CCCCFF;
	color: white;
}

table.contactList img {
	width: 45px;
	height: 45px;
	margin-left: 1em;
}

table.contactList h2 {
	font-size: 1.1em;
	margin: 0 1em 0 1em;
}

table.contactList p {
	font-size: 0.9em;
	margin: 0 1em 0 1em;
}

/***** Map *****/
#mapImg {
	margin: 5px;
}

/***** Chatting *****/
#chatFrame {
	margin: 0 auto 0 auto;
	padding: 0;
	width: 320px;
	height: 300px;
	
	border: 0;
}

#message {
	border:solid 1px #666;
	width: 240px;
	padding:2px;
	float:left;
	margin-left: 10px;
	margin-right:10px;
}

#rawMessage {
	display: none;
}

#playerMessageSendButton {
	width: 60px;
	float: left;
	margin: 2px;
}

body.frameBody {
	margin: 0;
	padding: 0;
}

#chatWindow {
	margin: 0 auto 0 auto;
	padding: 0;
	width: 295px;
}

#chatWindow td {
	border-bottom: 1px solid #666;
}

ol.locations {
	list-style-type: upper-alpha;
}
