@charset "UTF-8";
/* CSS Document */
/*
* {
	padding:	0;
	margin:		0;
}
*/
body {
	background-color: black;
	color: #ccc;
	height: 100%;
	width: 100%;
	padding-bottom: 45px;
}

body > .toolbar, black {
    background: url(toolbarBlack.png) #6d84a2 repeat-x;
    border-bottom: 1px solid #5A5D5A;
}

body > .appbar {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #5A5D5A;
    border-top: 1px solid #5A5D5A;

	display: block;
    padding: 10px;
    min-height: 0px;
    height: 45px;
    background: url(toolbarBlack.png) #6d84a2 repeat-x;
    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.appbar > .application {
	float: left;
	width: 40px;
	height: 40px;
	
	margin: -8px 10px 0 0;
}

.appbar > .application > a > img {
	width: 40px;
	height: 40px;
}

.appbar > .application > a > p {
	color: black;
	font-size: 11px;
	text-align: center;
	
	height: 11px;
	margin: -15px 0 0 0;
	padding: 0;
}

a:visited,
a:link,
a:hover,
a:active {
	color: #fff;
	line-height:1em;
	text-decoration: none;
	padding-bottom: .7em;
}

a:hover {
	color: #0000FF;
}

a:active {
	color: blue;
}

p.help {
	position: fixed;
	bottom: 0px;
	padding: 10px;
	margin: 0;
	font-size: .9em;
	background-color: black;
	z-index: 999;
}

.blackpanel {
	border: 0;
}

.blackpanel > h2 {
    margin: 0 0 8px 14px;
    font-size: inherit;
    font-weight: bold;
}

.blackpanel > fieldset { 
	border: 0;
}


.blackpanel .blackmain {
    position: relative;
    margin: 0 10px 10px 10px;
    padding: 0;
    background: #FFF;
    -webkit-border-radius: 10px;
    border: 1px solid #999999;
    text-align: right;
    font-size: 16px;
}

.blackmain > .row  {
    position: relative;
    min-height: 42px;
    border-bottom: 1px solid #999999;
    -webkit-border-radius: 0;
    text-align: right;
}

.blackmain > .last {
    border-bottom: none !important;
}

.blackmain > .row > input {
    box-sizing: border-box;
    border: none;
    padding: 12px 10px 0 100px;
    font-weight: normal;
    font-size: 16px;

}

.blackmain > .row > label {
	color: #557894;
    position: absolute;
    margin: 0 0 0 14px;
    line-height: 42px;
    font-weight: bold;
}

.blackpanel .submit {
    position: relative;
    min-height: 42px;
	padding-right: 10px;
    text-align: right;
    background: none;
}

.blackpanel .submit > input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-border-radius: 10px;
    margin: 0;
    border: 1px solid #999;
    height: 42px;
    width: 128px;
    font-weight: bold;
    background: white;
    font-size: 1em;
    color: #557894;
    padding: 0;
}


.blackpanel .submit > input:active {
	border: 1px solid #173F91;
	background: url("../media/blueBack.png") repeat-x ;
	color: white;
}

.blackpanel .submit > input:hover {
	background-color: #CCCCFF;
	color: white;
}

/***** Quests *****/
table.questList {
	clear: left;
	width: 100%;
}

table.questList tr td:first-child {
	vertical-align: top;
	width: 45px;
}

table.questList tr td {
	padding: 0 0 0.5em 0;
	margin: 0;
}

table.questList img {
	width: 45px;
	height: 45px;
	margin-left: 1em;
}

table.questList caption {
	margin: 0;
	padding: 1em 0 0 1em;
	text-align: left;
	border-bottom: 1px solid #666;
}

table.questList ul {
	padding: 0 1em 0 .5em;
	margin: 0;
}

table.questList ul > li {
	list-style-type: none;
}

table.questList ul > li:first-child {
	font-weight: bold;
}

/***** Map *****/
.mapContainer {
	margin: 0 auto 0 auto;
	width: 330px;
}

#mapImg {
	margin: 5px;
	width: 320px;
	height: 200px;
}

.locationImg {
	margin: 5px auto 5px auto;
	width: 320px;
	text-align: center;
}

.locationImg > img {
	margin: 5px auto 5px auto;
	width: 200px;
}

.locationImg > p {
	text-align: justify;
	margin-top: 5px;
}

ol.locations {
	list-style-type: upper-alpha;
}

ol.locations > li > a {
	display: block;
    margin: -8px 0 -8px -40px;
    padding: 8px 32px 8px 35px;
    text-decoration: none;
    color: inherit;

	background: url(iui/listArrow.png) no-repeat right center;
}

/***** Chatting *****/
table.contactList {
	clear: left;
	width: 100%;
}

table.contactList tr td:first-child {
	width: 45px;
}

table.contactList img {
	width: 45px;
	height: 45px;
	margin-left: 1em;
}

table.contactList caption {
	margin-left: 1em;
	padding: 0;
	text-align: left;
}

table.contactList ul > li {
	list-style-type: none;
}

table.contactList ul > li > a {
	display: block;
    margin: -8px -8px -8px 0;
    padding: 8px 32px 8px 0;
    text-decoration: none;
    color: white;

	background: url(iui/listArrow.png) no-repeat right center;
}

#chatFrame {
	margin: 0 auto 0 auto;
	padding: 0;
	width: 320px;
	height: 300px;
	
	border: 0;
}

#message {
	border:solid 1px #666;
	width: 240px;
	padding:2px;
	float:left;
	margin-left: 10px;
	margin-right:10px;
}

#rawMessage {
	display: none;
}

#playerMessageSendButton {
	width: 60px;
	float: left;
	margin: 2px;
}

body.frameBody {
	margin: 0;
	padding: 0;
}

#chatWindow {
	margin: 0 auto 0 auto;
	padding: 0;
	width: 295px;
}

#chatWindow td {
	border-bottom: 1px solid #666;
}

/***** Face to Face Chatting *****/
ul.options {
	margin: 0;
	display: block;
	clear: left;
}

ul.options > li {
	border: 0;
	margin-left: -2em;
	padding-left: 0.5em;
	font-size: 1em;
	padding: 0;
}

.npcText {
	margin: 0 1em 0 1em;
}

.npcImg {
	float: left;
	width: 128px;
	height: 128px;
	margin: 0 1em 0 0;
}

/***** Forms *****/
fieldset {
	padding-right: 2em;
}

label {
	clear: left;
	float: left;

}

label + input, select {
	float: left;
	margin-left: 1em;
	width: 100%;
}
