@charset "UTF-8";
/* CSS Document */

* {
	padding:0;
	margin:0;
}

body {
	background-color:#000;
	height: 100%;
	color:#CCCCCC;
}

#container {
	font-family: verdana, arial, sans-serif;
	text-align: left;
	display: block;
	min-height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	width: 315px;
}

#nav {
	color: #fff;
	background-color:#333;
	clear: both;
	position: absolute;
	width:100%;
	bottom:0;
	left:0;
	margin: 0;
	padding: 0px;
	left: 0px;
	bottom: 0px;
	display: block;
	height: 45px;
	z-index: 999;
}


	
#content {
	font-family: arial;
	width: 100%;
	letter-spacing: .05em;
	text-align:left;
	padding-bottom:50px;
}

#content h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	padding-top: 0.3em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	padding-bottom: 0.3em;
	color:#ddd;
}

#content h1.inventory_list {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	padding-top: 0.3em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	padding-bottom: 0em;
	color:#ddd;
}

#content h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding-top: 0.3em;
	padding-left: 0.5em;
	padding-right: 0.3em;
	color:#fff;
}

#content p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	padding-left: 0.3em;
	padding-right: 0.3em;
	padding-bottom: .5em;
	text-effect: bold;
}

#content table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	padding-top: .5em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	padding-bottom: .5em;
	
}




#content p.alert {
	color: #f00;	
}

#content img.quest_list {
	height: 3em;
	width: 3em;
}

#content img.inventory_list {
	height: 3em;
	width: 3em;
}

#content img.map {
	float: right;
	height: 40%;
	width: 40%;
	padding: 1em;
}

#content a:visited,
#content a:link,
#content a:hover,
#content a:active {
	color: #fff;
	line-height:1em;
	font-size:x-large;
	text-decoration:none;
	padding-left: .3em;
	padding-bottom: .7em;
}








	
