<?xml version="1.0" ?>
<!--

Each Framework_Site must have a config.xml. This is loaded up by Framework_Site
and can be accessed via Framework::$site->config. Feel free to add your own
configuration stuff here.

-->
<framework>
    <!-- 
        Change this to the appropriate DSN for PEAR's DB class.
    -->
    <db>
        <type>MySQL</type>
        <dsn>mysql:dbname=aris;host=localhost;username=arisuser;password=arispwd</dsn>
    </db>

    <!-- 
        This MUST be readable/writeable by your web server's user (this is
        normally nobody/nogroup or www-data/www-data).
    -->
    <logFile>/tmp/framework.log</logFile>

	<!--
		app				-	The name of the ARIS application
		company			-	The "company" that created the application
		techEmail		-	The email address of technical support/help 
	-->
	<aris>
		<app>mDesk</app>
		<company>NAC</company>
		<techEmail>nacrecruitment@gmail.com</techEmail>
		<tablePrefix>nac0_</tablePrefix>
		<main>
			<title>New America Corporation</title>
			<body><![CDATA[
			<p align = 'center'><img src = "Framework/Site/Nac0/Templates/Default/templates/nac_logo.png" width= "200px"/></p>
			<p align = 'center'>Please begin the volunteer application and psychological profile by selecting the profile application below.</p>
			]]></body>
			<defaultModule>Main</defaultModule>
		</main>
		<map>
			<!--<googleKey>ABQIAAAAWEsa23TM75rkTyUBDmxr2hS2liiReJ1CU3gg7Gof7cpGkm_yhRSRWUw4O4p0QQe_heUc2n8AkqUOsA</googleKey>-->
			<googleKey>ABQIAAAA_CE3Nypcp6bilTqyCg-N2hQsvlSBtAWfm4N2P3iTGfWOp-UrmRQgXVI4kOqbJnZJDYqrPvf7deonfw</googleKey>
			<width>320</width>
			<height>200</height>
			<error>0.0005</error>
			<playerColor>yellow</playerColor>
		</map>
		<profileModule>
			<gpsApplicationID>2</gpsApplicationID>
			<part1Event>1</part1Event>
			<part2Event>2</part2Event>
			<part3Event>3</part3Event>
			<part4Event>4</part4Event>
			<successEvent>5</successEvent>
			<failureEvent>6</failureEvent>
			<locationEvent>7</locationEvent>
		</profileModule>
	</aris>

    <!--
        userTable       -   The users table to draw user data from 
        userField       -   The primary key for userTable
        defaultUser     -   Create a dummy record and put it's primary key here
    -->
    <user>
        <userTable>players</userTable>
        <userField>player_id</userField> 
        <defaultUser>0</defaultUser>
        <!-- 
            Uncomment this to have Framework_User::singleton() load up your
            Framework_User_Example class.
            <userClass>Example</userClass> 
        -->
    </user>
    <!-- See Framework_Auth_ACL -->
    <!--
    <acl>
        <class name="Framework_Module_Home"
               event="__default"
               accessLevel="3" />
    </acl>
    -->
</framework>
